<div class="bg-info d-flex flex-wrap justify-content-around align-items-center p-3 rounded shadow">
    <h2 class="text-white" style="font-size: clamp(2rem, 5vw, 5rem);">Bienvenido <%=usuario%></h2>
    <button class="btn btn-danger my-5" onclick="location.href='/logout'">LOGOUT</button>
</div>
